.footer {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 100px 100px;
    background-color: #252422;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 40;
    border-radius: 0px 0px 0px 0px;
  }


  .text {
    flex-shrink: 0;
    width: 100%;
    height: auto; /* 24px */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Archivo", "Archivo Placeholder", sans-serif;
    color: #ccc5b9;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: center;
  }



  .image {
    flex-shrink: 0;
    width: auto; /* 102px */
    height: auto; /* 96px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Emoji", "Noto Emoji Placeholder", sans-serif;
    color: #eb5e28;
    font-size: 80px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: center;
  }