.hero {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #252422;
    align-content: center;
    flex-wrap: nowrap;
  }

  .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
  }

  .text_hero {
    width: auto;
    height: 300px;
    max-width: 800px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Elsie', sans-serif;
    color: #fffcf2;
    font-size: 70px;
    letter-spacing: 0em;
    line-height: 1.1;
    text-align: center;
  }

  .buttons {
    height: 5%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    align-content: center;
    flex-wrap: nowrap;
  }

  .button_orange {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 130px; /* 167px */
    height: 40px; /* 44px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #eb5e28;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0px 10px 0px 0px;
    border-radius: 9999px;
    border: 0px solid #252422;
    color: white;
  }


  .button_white {
    box-sizing: border-box;
    width: 130px; 
    height: 40px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #ccc5b9;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0px 0px 0px 10px;
    border-radius: 9999px;
    border: 0px solid #252422;
    color: #252422;
  }

  .emoji {
    flex-shrink: 0;
    width: auto; /* 60px */
    height: auto; /* 58px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Noto Emoji", "Noto Emoji Placeholder", sans-serif;
    color: #fffcf2;
    font-size: 40px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: center;
  }