body {
    margin: 0;
    padding: 0;
    font-family: 'Elsie', sans-serif;
}

.navbar {
    background-color: #1c1b1a;
    color: #fff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a,button {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Elsie', sans-serif;
}

.nav-links a:hover,button:hover {
    color: #f39c12;
}

.user{
    color: #d1d1d1;
}



