.course-average-table {
    margin-top: 20px;
}

h1{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 2%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
    margin-top: 20px;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    text-align: center;
}

td {
    vertical-align: middle;
}

.course-average-table td:first-child {
    font-weight: bold;
}

.course-average-table td:last-child {
    text-align: center;
}



.test_results_rows:nth-child(even){
    background-color: #333; 
}

.test_results_rows:nth-child(odd){
    background-color: #444; 
}
